[Unit]
Description=Start the node webpage
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /tmp/index.js

[Install]
WantedBy=multi-user.target
